__pycache__
.env
.history
.hypothesis/
build/
reports/
dump_sources/
node_modules
tmp/
.vscode
.devcontainer
build/
dump_sources/
reports/


**.pyc

.DS_Store
.vscode/launch.json
deploy-product-steps.md
gif_instance_address.txt
